.outline {
  border: 1px solid black;
}

#nav-bar {
  background-color:black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333333;
  opacity: 0.3;
}

.side-menu {
  opacity: 0.95;
  display: none;
  box-shadow: 0px 0px 10px;
  min-width: 270px;
}

.jumbo-bckgrnd-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  width:100%;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

.outro-copy {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.what-copy-single {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}

.what-copy-double {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.contact-button-div {
  width:350px;
  margin: auto;
  cursor: pointer;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

.double-column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.tagline-wrapper {
  margin: auto;
  width: 100%;
  position: absolute;
}

.tagline {
  width: 50%;
  margin: auto;
  margin-top: 180px;
}

#tagline-img {
  width: 100%;
  height: auto;
}

.learn-btn-wrapper {
  margin-top: 50px;
  width: 100%;
  clear:left;
  display:inline-block;
}
.learn-btn-div {
  margin: auto;
  width: 350px;
  cursor: pointer;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

.learn-btn-div:hover {
  background-color: rgba(255,255,255,1);
}

.leave {
  background-color: none;
}

.contact-button-div:hover {
  background-color: rgba(255,255,255,1);
}

.enter {
  background-color: rgba(255,255,255,0.5);
}

.sub-section {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top:50px;
  padding-bottom:50px;
}

.full-width-section {
  width: 90%;
  height: auto;
  margin: auto;
}

.nav-button {
  margin-top: 5px;
  width: 50px;
  cursor: pointer;
}

.menu-icon-img {
  width: 100%;
}

.tech-component-story {
  width: 100%;
  height: auto;
  height: 400px;
  display: inline-block;
  float: left;
}

.tech-component-copy {
  width: 100%;
  height: auto;
  height: 400px;
  display: inline-block;
  background-color: black;
  cursor: pointer;
}

.right-content-expanded {
  width:75%;
}

.sub-section-left-content {
  width: 45%;
  height: auto;
  float: left;
  display: inline-block;
  margin: auto;
}

.sub-section-right-content {
  width: 45%;
  display: inline-block;
  height: auto;
  float: right;
  margin: auto;
}

#steps-tabs {
  margin: auto;
  width:770px;
}

#step-content {
  width: 80%;
  margin: auto;
}

.main-copy-container {
  display: inline-block;
  column-fill: auto;
  -webkit-column-fill: auto; /* Chrome, Safari, Opera */
  -moz-column-fill: auto; /* Firefox */
  -webkit-column-width: 400px; /* Chrome, Safari, Opera */
  -moz-column-width: 400px; /* Firefox */
  column-width: 400px;
}

.copy-container {
  width:50%;
  column-fill: auto;
  -webkit-column-fill: auto; /* Chrome, Safari, Opera */
  -moz-column-fill: auto; /* Firefox */
  -webkit-column-width: 300px; /* Chrome, Safari, Opera */
  -moz-column-width: 300px; /* Firefox */
  column-width: 300px;
}

.quote-container {
  text-align: center;
  width: auto;
  height: auto;
  display:inline-block;
}

.left-quote {
  float: left;
}

.right-quote {
  float:right;
}

.pros-section {
  width: 70%;
  margin: auto;
}

.pros-item {
  margin:15px;
  clear: both;
  width: auto;
}

.pros-icon {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: black;
}

#what-img {
  width: 100%;
  box-shadow: 0px 0px 10px;
}

.how-bckgrnd-img {
  background: url('../images/Block_Bckgrnd.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.room-bckgrnd-img-1 {
  background: url('../images/Room_Bckgrnd_1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gray-bckgrnd-img {
  background: url('../images/gray_gradient_bg.png') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#what-img {
  height:550px;
  margin:auto;
  display: inline-block;
  float:right;
  margin-right: 10px;
}

.step-div {
  width: 80%;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.step-container {
  display: inline-block;
  margin:auto;
}

.step-icon {
  height: 300px;
  width: 400px;
  background-color: black;
  box-shadow: 0px 0px 5px;
  border-radius: 5px;
  display: inline-block;
}

.drop-down-div {
  height: 200px;
  width: 400px;
  padding:10px;
  margin:auto;
  cursor: pointer;
}

#drop-down-img {
  height: 100%;
  width: auto;
}

.geek-out {
  background-color: #e8e8e8;
  padding: 50px;
}

.learn-more-btn {
  height: 50px;
  width: 300px;
  border: 1px solid black;
  display: inline-block;
  padding:10px;
  cursor: pointer;
}
.resource-cell {
  margin:25px;
  display: inline-block;
  width:350px;
}

.resource-rect {
  background-color: black;
  height: 200px;
  width: 350px;
  box-shadow: 0px 0px 5px;
  cursor: pointer;
  -webkit-transition: box-shadow 600ms;
  transition: box-shadow 600ms;
}

.resource-rect:hover {
  box-shadow: 0px 0px 1px;
}
