.outline {
  border: 1px solid black;
}

#nav-bar {
  background-color:black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333333;
  opacity: 0.7;
}

.side-menu {
  opacity: 0.95;
  display: none;
  box-shadow: 0px 0px 10px;
  min-width: 270px;
}

.jumbotron {
  width: 100%;
  margin-bottom: 20px;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

.tagline-wrapper {
  margin: auto;
  width: 100%;
  position: absolute;
}

.tagline {
  width: 65%;
  margin: auto;
  margin-top: 180px;
}

#tagline-img {
  width: 100%;
  height: auto;
}

.learn-btn-wrapper {
  margin-top: 50px;
  width: 100%;
  clear:left;
  display:inline-block;
}
.learn-btn-div {
  margin: auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  border: 1px solid gray;
  cursor: pointer;
  content:url("../images/LearnMoreButtonUp.png");
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

.learn-btn-div:hover {
  background-color: rgba(255,255,255,0.5);
}

.leave {
  background-color: none;
}

.enter {
  background-color: rgba(255,255,255,0.5);
}

.sub-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.full-width-section {
  width: 90%;
  height: auto;
  margin: auto;
}

.nav-button {
  margin-top: 5px;
  width: 50px;
  cursor: pointer;
}

.menu-icon-img {
  width: 100%;
}

.tech-component-story {
  width: 100%;
  height: auto;
  height: 400px;
  display: inline-block;
  float: left;
}

.tech-component-copy {
  width: 100%;
  height: auto;
  height: 400px;
  display: inline-block;
  background-color: black;
  cursor: pointer;
}

.right-content-expanded {
  width:75%;
}

.sub-section-left-content {
  width: 45%;
  height: auto;
  float: left;
  display: inline-block;
  margin: auto;
}

.sub-section-right-content {
  width: 45%;
  display: inline-block;
  height: auto;
  float: right;
  margin: auto;
}

#steps-tabs {
  margin: auto;
  width: 895px;
}

#step-content {
  width: 80%;
  margin: auto;
}

.main-copy-container {
  height: 500px;
  display: inline-block;
  column-fill: auto;
  -webkit-column-fill: auto; /* Chrome, Safari, Opera */
  -moz-column-fill: auto; /* Firefox */
  -webkit-column-width: 400px; /* Chrome, Safari, Opera */
  -moz-column-width: 400px; /* Firefox */
  column-width: 400px;
}

.copy-container {
  height: 500px;
  column-fill: auto;
  -webkit-column-fill: auto; /* Chrome, Safari, Opera */
  -moz-column-fill: auto; /* Firefox */
  -webkit-column-width: 300px; /* Chrome, Safari, Opera */
  -moz-column-width: 300px; /* Firefox */
  column-width: 300px;
}

.quote-container {
  text-align: center;
  width: auto;
  height: auto;
  display:inline-block;
}

.left-quote {
  float: left;
}

.right-quote {
  float:right;
}

.pros-section {
  width: 70%;
  margin: auto;
}

.pros-item {
  margin:15px;
  clear: both;
  width: auto;
}

.pros-icon {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: black;
}
