.outline {
  border: 1px solid black;
}

#nav-bar {
  background-color:black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333333;
  opacity: 0.7;
}

.side-menu {
  opacity: 0.9;
  display: none;
  box-shadow: 0px 0px 10px;
}

.jumbotron {
  width: 100%;
  margin-bottom: 20px;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

.tagline-wrapper {
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
}

.tagline {
  width: 65%;
  margin: auto;
  margin-top: 170px;
}

#tagline-img {
  width: 100%;
  height: auto;
}

.share-btn-wrapper {
  margin-top: 50px;
  width: 100%;
  clear:left;
  display:inline-block;
}
.share-btn-div {
  margin: auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  border: 1px solid gray;
  cursor: pointer;
  content:url("images/ShareButtonUp.png");
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

.share-btn-div:hover {
  background-color: rgba(255,255,255,0.5);
}

.leave {
  background-color: none;
}

.enter {
  background-color: rgba(255,255,255,0.5);
}

.sub-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.full-width-section {
  width: 100%;
  height: auto;
  height: 400px;
}

.nav-button {
  margin-top: 5px;
  width: 50px;
  cursor: pointer;
}

.menu-icon-img {
  width: 100%;
}

.sub-section-left-content {
  width: 75%;
  height: auto;
  height: 400px;
  display: inline-block;
  float: left;
}

.sub-section-right-content {
  width: 25%;
  height: auto;
  height: 400px;
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: black;
  cursor: pointer;
}

.right-content-expanded {
  width:75%;
}

.tech-component-copy {
  width: 50%;
  height: auto;
  float: left;
  height: 700px;
}

.tech-component-case {
  width: 50%;
  height: auto;
  float: right;
  height: 700px;
}
